*{
    margin: 0;
    padding: 0;
}
.deployBox{
    display: flex;
    justify-content: flex-start;
}
.deployBox .contentBox{
    width: 100%;
    min-height: 700px;
    background:rgba(244,246,252,1);
    padding: 30px;
    padding-bottom: 40px;
}
.contentBox .titl{
    padding-left: 15px;
    border-left: 3px solid rgba(51,129,255,1);
    margin-bottom: 20px;
    color:rgba(90,104,114,1);
    font-size: 18px;
    font-weight: 400;
}
.contentBox .content{
    width: 100%;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 12px 0px rgba(228,233,247,1);
    border-radius:8px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20%;
    overflow: hidden;
}