*{
    margin: 0;
    padding: 0;
}
.configure .configureContentBox{
    width: 100%;
    background:rgba(244,246,252,1);
    padding: 30px;
    padding-bottom: 90px;
    min-height: 700px;
}
.configure .configureContentBox .titl{
    padding-left: 15px;
    border-left: 3px solid rgba(51,129,255,1);
    margin-bottom: 20px;
    color:rgba(90,104,114,1);
    font-size: 18px;
    font-weight: 400;
}
.configure .configureContentBox .section{
    width: 100%;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 12px 0px rgba(228,233,247,1);
    border-radius:8px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.section .table{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5%;
    color:rgba(90,104,114,1);
}
.section .table .tr{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.section .table .tr .td:nth-of-type(1){
    text-align: right;
    width: 20%;
}
.section .table .tr .td{
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-right: 3%;
    font-weight:500;
    color:rgba(90,104,114,1);
}
.section .table .tr .td:nth-of-type(2){
    font-size: 14px;
    min-width: 380px;
}
.section .configureTabBox{
    width: 100%;
    padding-left: 18%;
    display: flex;
    justify-content: flex-start;
}
.section .configureTabBox .defaultService,.personalise{
    width: 30%;
    min-width: 200px;
    height: 26px;
    line-height: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.section .configureTabBox .defaultService{
    justify-content: flex-end;
    margin-right: 30px;
}
.section .configureTabBox .unCheck{
    width:16px;
    min-width: 16px;
    height:16px;
    background:rgba(243,245,252,1);
    border:1px solid rgba(51,129,255,1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .configureTabBox .unCheck .check{
    width:5px;
    height:5px;
    background:rgba(51,129,255,1);
    border-radius: 50%;
}
.section .configureTabBox .tab{
    display: inline-block;
    color:rgba(90,104,114,1);
    margin-left: 10px;
}
.section form{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.section form .formRow{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding-left: 35%;
}
.section form .formRow label{
    width: 40%;
    min-width: 180px;
    text-align: right;
    height:38px;
    line-height: 38px;
    font-weight:400;
    color:rgba(90,104,114,1);
}
.section form .formRow input{
    width: 50%;
    min-width: 300px;
    margin-left: 5%;
    height:38px;
    border-radius:4px;
    border:1px solid rgba(214,214,214,1);
    padding: 0 15px;
    outline: none;
    color:rgba(128,128,128,1);
} 
form .sub{
    width: 170px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    text-align: center;
    background:linear-gradient(129deg,rgba(111,178,255,1) 0%,rgba(9,95,255,1) 100%);
    border-radius:3px;
    font-weight:500;
    color:rgba(255,255,255,1);
    margin-top: 30px;
    cursor: pointer;
    position: absolute;
    bottom: -100px;
    left: 40%;
}
.section .configSub{
    width: 170px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    text-align: center;
    background:linear-gradient(129deg,rgba(111,178,255,1) 0%,rgba(9,95,255,1) 100%);
    border-radius:3px;
    font-weight:500;
    color:rgba(255,255,255,1);
    cursor: pointer;
    position: absolute;
    bottom: -70px;
}
.section .configureContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}
.section .configureContent .row{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-weight:400;
    color:rgba(32,32,32,1);
    margin: 0;
    margin-bottom: 15px;
}
.section .configureContent .row .label{
    font-size: 14px;
    font-weight:400;
    color: rgba(90,104,114,1);
    width: 20%;
    min-width: 200px;
    margin-left: 18%;
    padding-right: 3%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.section .configureContent .row .condition{
    padding: 0;
    height: 38px;
    line-height: 38px;
}
.section .configureContent .row .text{
    width: 50%;
    color: rgba(90,104,114,1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.section .configureContent .row:nth-of-type(2) .text{
    font-weight: 500;
    color:rgba(51,129,255,1);
}
.section .configureContent .row .text .selectBox{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.section .configureContent .row .text .selBox{
    margin-right: 10px;
    position: relative;
    font-size: 12px;
}
.section .configureContent .row .text .selBox:nth-of-type(1){
    width: 20%;
    min-width: 115px;
}
.section .configureContent .row .text .selBox:nth-of-type(2){
    width: 15%;
    min-width: 70px;
}
.section .configureContent .row .text .selBox:nth-of-type(3){
    width: 35%;
    min-width: 200px;
}
.section .configureContent .row .text .selBox .select{
    border-radius:4px;
    border:1px solid rgba(232,232,232,1);
    width: 100%;
    padding: 0 15px;
    height: 38px;
    line-height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:400;
    color:rgba(128,128,128,1);
}
.section .configureContent .row .text .selBox .select .selIcon{
    width: 10px;
    height: 5px;
    cursor: pointer;
}
.section .configureContent .row .text .selBox .option{
    width: 100%;
    border-radius:4px;
    border:1px solid rgba(232,232,232,1);
    margin-top: 5px;
    position: absolute;
    background-color: #fff;
}
.section .configureContent .row .text .selBox .option .opt{
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
}
.section .configureContent .row .text .selBox .option .opt:hover{
    background-color: rgba(232,232,232,.5);
    cursor: pointer;
}
.section .configureContent .text .arrow{
    width:64px;
    height:24px;
    background:linear-gradient(129deg,rgba(111,178,255,1) 0%,rgba(9,95,255,1) 100%);
    box-shadow:0px 2px 6px 0px rgba(20,104,255,0.26);
    border-radius:4px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .configureContent .text .arrow:nth-of-type(4){
    margin-top: 5px;
}
.section .configureContent .text .arrow img{
    width: 15px;
    height: 14px;
}
.section .configureContent .listBox{
    width: 74%;
    min-width: 405px;
    display: flex;
    justify-content: center;
}
.section .configureContent .row .text .listBox ul{
    width: 100%;
    border-radius:4px;
    border:1px solid rgba(214,214,214,1);
    padding: 5px 15px;
    max-height: 126px;
    overflow: auto;
}
.section .configureContent .row .text .listBox ul li{
    width: 100%;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid rgba(214,214,214,1);
    list-style: none;
    font-weight:400;
    color:rgba(128,128,128,1);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section .configureContent .row .text .listBox ul li:nth-last-of-type(1){
    border-bottom: none;
}
.section .configureContent .row .text .listBox ul li img{
    float: right;
    width: 13px;
    height: 13px;
}
.section .configureContent .row .text .textArea{
    width: 74%;
    min-width: 405px;
    border-radius:4px;
    border:1px solid rgba(214,214,214,1);
    padding: 15px;
    min-height: 48px;
    margin-top: 30px;
}