
.bottom h1{
    color:#fff;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 100px;
}
.bottom h1 .icon {
    display: inline-block;
    width:10px;
    height:10px;
    background:rgba(47,158,255,1);
    border-radius: 50%;
    margin-right: 20px;
}
.bottom .manageBox{
    width:80%;
    margin:40px auto;
    padding:0;
    overflow: hidden;
}
.bottom .manageBox div{
    width:31%;
    float: left;
    margin-right: 28px;
    margin-top: 20px;
    background:url('../../assets/token\ bg@2x.png') rgba(33,35,43,0.66) no-repeat;
    background-size: cover;
    box-shadow:0px 2px 10px 0px rgba(36,110,176,0.78);
    border-radius:8px;
    border:1px solid rgba(44,145,234,1);
    text-align: center;
}
.bottom .manageBox div p{
    height:70px;
    text-align: center;
    margin-top:38%;
    margin-bottom: 38%;
    color:rgba(255,255,255,1);
    font-size: 28px;
    text-align: center;
}
.bottom .manageBox div p span{
    display: inline-block;
    width: 80%;
    font-size:20px;
    font-weight:400;
    color:rgba(161,169,186,1);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.bottom .manageBox div button{
    width:47%;
    height:45px;
    border-radius:none!important;
    display: inline-block;
    background:rgba(33,35,43,1);
    box-shadow:0px 4px 16px 0px rgba(0,0,0,0.15),0px 2px 6px 0px rgba(0,0,0,0.06);
    border:1px solid rgba(51,51,51,1);
}
.bottom .manageBox div .btnBox{
    display: inline-block;
    height:45px;
    width: 80%;
    margin-bottom: 10%;
}
.bottom .manageBox div .btnBox .configure{
    float: left;
}
.bottom .manageBox div .btnBox .issue{
    float: right;
}
.bottom .manageBox div:nth-of-type(1) button{
    width: 75%;
    margin-bottom: 11%;
}
.bottom .manageBox div:nth-of-type(1) p{
    width:60%;
    margin: 38% auto;
}
.bottom .manageBox div p span{
    font-size: 12px;
}

.bottom .manageBox div .open{
    width: 20px;
    height: 20px;
    border-radius: 0;
    background: url("../../assets//open.png") no-repeat;
    background-size: 100%;
    box-shadow: none;
    border: 0;
    float: right;
    margin: 40px 30px 0 0;
    cursor: pointer;
}
/* 详细信息遮罩层 */
.all{
    position: relative;
    overflow: auto;
}
.shadow{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    z-index: 1;
    left:0;
    top:0;
}
.showDetail{
    width: 676px;
    height: 400px;
    background: url("../../assets//bg.png");
    background-size: cover;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    z-index: 2;
    padding: 40px;
    overflow: auto;
}
.showDetail ul{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}
.showDetail ul li{
    width: 100%;
    list-style: none;
    margin:0;
    padding:0;
    padding:5px;
    overflow: hidden;
    margin-bottom: 10px;
}
.showDetail ul li span{
    width: 20%;
    float: left;
}
.showDetail ul li p{
    width: 80%;
    float: right;
    padding: 0 30px;
    word-wrap: break-word;
}